<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <!-- meta情報 -->
    <title><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>" />
    <meta name="keywords" content="<%= meta.keywords %>" />
    <!-- ogp -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="summary" />
    <!-- ファビコン -->
    <link rel="icon" href="#" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="./js/script.js"></script>
  </head>
<body>
  <div class="l-header p-header">
    <div class="p-header__inner l-inner">
      <div class="p-header__logo">
        <a href="index.html">
          <img src="./assets/img/logo.png" alt="logo" />
        </a>
      </div>
      <div class="p-header__nav">
        <ul class="p-header__nav-list">
          <li class="p-header__nav-item">
            <a href="index.html">
              <img src="./assets/img/nav-icon01.png" alt="nav-icon01" />
              <p>HOME</p>
            </a>
          </li>
          <li class="p-header__nav-item">
            <a href="about.html">
              <img src="./assets/img/nav-icon02.png" alt="nav-icon02" />
              <p>ABOUT</p>
            </a>
          </li>
          <li class="p-header__nav-item">
            <a href="service.html">
              <img src="./assets/img/nav-icon03.png" alt="nav-icon03" />
              <p>SERVICE</p>
            </a>
          </li>
          <li class="p-header__nav-item">
            <a href="works.html">
              <img src="./assets/img/nav-icon04.png" alt="nav-icon04" />
              <p>WORKS</p>
            </a>
          </li>
          <li class="p-header__nav-item">
            <a href="contact.html">
              <img src="./assets/img/nav-icon05.png" alt="nav-icon05" />
              <p>CONTACT</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <main>
    <p>1st commit</p>
  </main>
</body>

</html>